.stats-section {
  width: 100%;
  background-color: #8b2cf5; 
  padding: 3rem 0; 
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem; 
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .stats-section {
    /* border: 1px solid red; */
    grid-template-columns: repeat(3, 1fr);
  }
}

.stat-item h3.stat-value {
  /* border: 1px solid red; */
  font-size: 2.25rem; 
  font-weight: 900; 
  margin: 0;
}

.stat-item p.stat-label {
  opacity: 0.8;
  /* border: 1px solid red; */
  margin: 0;
}


.stat-divider {
  border-top: 1px solid #d8b4fe;
  /* border: 1px solid red; */
  border-bottom: 1px solid #d8b4fe;

  padding: 1rem 0;
}

@media (min-width: 768px) {
  .stat-divider {
    /* border: 1px solid red; */
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #d8b4fe;
    border-right: 1px solid #d8b4fe;
    padding: 0;
  }
}